.about-us-header-block {
    min-height: 80svh; padding-top: 120px; padding-bottom: 80px; display: flex; align-items: center; overflow: hidden;

    h2.title { line-height: 1.04em;
        .text-outline { color: #272727;}
    }

    .text { color: #AFAFAF; font-size: 24px; letter-spacing: -.02em; margin-top: 104px;
        .label { font-size: 20px; font-weight: 700;}
    }

    .letter {
        position: absolute; right: 0; bottom: 0; font-size: 65vw; font-weight: 700; line-height: .6em;
        color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: $red;
    }





}