.cta-block {
    padding-top: 90px; padding-bottom: 94px; text-align: center; overflow: hidden;

    .full-bck::before {
        content: ""; position: absolute; inset: 0;
        background: linear-gradient(106.26deg, #C41717 24.66%, rgba(196, 23, 23, 0) 87.16%);
    }

    .title {
        color: $white; font-size: 60px; font-weight: 700; margin-bottom: 20px;
    }

    .text { color: $white; font-size: 24px; letter-spacing: -.02em; line-height: 1.5em;}

    .btn-wrap { margin-top: 25px;
        .btn { margin: 0 auto;}
    }


    @media (max-width: 1600px) {
        .full-bck::before { right: -50%;}
        .title { font-size: 42px;}
        .text { font-size: 20px;}
        .btn-wrap { margin-top: 40px;}
    }

    @media (max-width: 768px) {
        .title { font-size: 36px;}
        .text { font-size: 18px;}
    }
}

.cta-sm-block { padding-top: 70px; padding-bottom: 50px;

    .cta-sm-wrap {
        padding: 70px 74px; color: $white; display: flex; justify-content: space-between; align-items: center;
        overflow: hidden; border-radius: 8px;

        .full-bck {
            &::before {
                content: ""; position: absolute; inset: 0;
                background: linear-gradient(90deg, #C41717 16.88%, rgba(196, 23, 23, 0) 80.47%);
            }
        }

        .text-col { flex: 0 0 55%;
            .title { margin-bottom: 20px; font-size: 38px; font-weight: 700;}
        }

        .btn-col { margin-left: auto;}
    }

    @media (max-width: 992px) {
        .cta-sm-wrap {
            flex-direction: column; align-items: center; padding: 50px 54px;

            .full-bck::before { right: -50%;}
            .text-col { text-align: center;}
            .btn-col { margin-left: 0; margin-top: 40px;}
        }
    }

    @media (max-width: 576px) {
        .cta-sm-wrap { padding: 40px 36px;}
    }
}