.header-block {
    min-height: 80svh; padding-top: 120px; padding-bottom: 80px; display: flex; align-items: center;

    .stamp {
        position: absolute; bottom: 0; right: 10%; transform: translateY(50%); z-index: 1;
    }

    .title { color: $white;}
    .btn-wrap { margin-top: 20px;
        .btn + .btn { margin-left: 8px;}
    }

    @media (max-width: 1600px) {
        .stamp img { max-width: 280px;}
    }

    @media (max-width: 1400px) { align-items: flex-end;
        .stamp { right: 5%;
            img { max-width: 240px;}
        }
    }

    @media (max-width: 768px) {
        .stamp { right: 15px;
            img { max-width: 180px;}
        }
    }

    @media (max-width: 576px) { padding-bottom: 110px;
        .stamp img { max-width: 160px;}
    }

    @media (max-width: 380px) {
        .btn-wrap { display: flex; flex-direction: column;
            .btn + .btn { margin-left: 0; margin-top: 20px;}
        }
    }
}

.header-sm-block { padding-top: 130px; padding-bottom: 60px; text-align: center;
    .text-col {
        .title { margin-bottom: 24px;}
        .label {
            text-transform: uppercase; font-size: 20px; font-weight: 700; letter-spacing: -.03em; margin-bottom: 12px;
        }
        .text { font-size: 24px; letter-spacing: -.02em;}
    }


    .btn-wrap { height: 100%; display: flex; justify-content: center; align-items: center;
        .text { text-align: center;}
    }
}