.header-block {
    min-height: 80svh; padding-top: 120px; padding-bottom: 80px; display: flex; align-items: center;

    .stamp {
        position: absolute; bottom: 0; right: 10%; transform: translateY(50%); z-index: 1;
    }

    .title { color: $white;}
    .btn-wrap { margin-top: 20px;
        .btn + .btn { margin-left: 8px;}
    }
}

.header-sm-block { padding-top: 130px; padding-bottom: 60px; text-align: center;
    .text-col {
        .title { margin-bottom: 24px;}
        .label {
            text-transform: uppercase; font-size: 20px; font-weight: 700; letter-spacing: -.03em; margin-bottom: 12px;
        }
        .text { font-size: 24px; letter-spacing: -.02em;}
    }


    .btn-wrap { height: 100%; display: flex; justify-content: center; align-items: center;
        .text { text-align: center;}
    }
}