.inquiry-form-block { padding-top: 70px; padding-bottom: 230px; background-color: $white;

    .title--h4 { margin-bottom: 16px;}

    .progress {
        display: flex; justify-content: space-between; background: transparent; height: auto; margin-bottom: 50px;

        &::before {
            content: ""; position: absolute; top: 22px; height: 2px; background-color: #E9E9E9; right: 15%; left: 15%;
            transform: translateY(-50%);
        }

        &-item {
            text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;
            flex: 0 0 calc(100% / 3);

            &.active .num { background-color: $red; color: $white; border-color: $red;}

            .num {
                width: 44px; height: 44px; background-color: $white; display: flex; align-items: center;
                letter-spacing: -.02em; justify-content: center; border-radius: 100%; color: $red; font-size: 22px;
                font-weight: 700; border: 2px solid #E9E9E9;
            }

            .label {
                font-size: 20px; letter-spacing: -.02em; color: #C7C7C7; line-height: 1.5em;
            }
        }
    }

    .inquiry-wrap {
        display: flex; flex-direction: column;

        .inquiry-step {
            display: none; flex-wrap: wrap; gap: 20px; opacity: 0; transition: .2s all;

            &.active { display: flex; opacity: 1; transition: .2s all;}
        }

        .inquiry-item {
            padding: 34px 45px; background-color: #F5F5F5; display: flex; flex-direction: column;
            justify-content: center; align-items: center; flex: 0 0 100%;

            &.--third { flex: 0 0 calc((100% / 3) - (20px * 2) / 3);}

            &.--form-inputs {
                display: flex; flex-wrap: wrap; gap: 20px; flex-direction: row;

                .form-item { flex: 0 0 calc((100% / 3) - (20px / 3) * 2);
                    label {
                        .label { font-size: 18px;}
                        input { background-color: #E4E4E4; font-size: 18px;}
                    }
                }
            }

            .label {
                font-size: 24px; letter-spacing: -.02em; line-height: 1.5em;
            }

            .inquiry-range { display: flex; align-items: center; margin-top: 24px;
                input {
                    background-color: #E3E3E3; padding: 5px 30px; width: 100%; font-size: 18px; letter-spacing: -.02em;
                    flex: 0 0 30%; text-align: center;
                }

                .range-bar {
                    flex: 1 0 auto; height: 2px; background-color: #CECECE; margin: 0 18px;

                    &::before, &::after {
                        content: ""; position: absolute; top: 50%; transform: translateY(-50%); display: block;
                        width: 8px; height: 8px; background-color: #CECECE; border-radius: 100%;
                    }

                    &::before { left: 0;}
                    &::after { right: 0;}

                    .fill {
                        height: 2px; background: $red; position: absolute; top: 0; left: 20%; right: 30%;

                        .point {
                            position: absolute; top: 1px; width: 20px; height: 20px; display: block;
                            background: $red; border-radius: 100%; transform: translate(-50%, -50%);

                            &.--start { left: 0;}
                            &.--end { right: 0; transform: translate(50%, -50%);}
                        }
                    }
                }
            }

            .inquiry-radio {
                display: flex; gap: 16px; margin-top: 12px; width: 100%;

                fieldset {
                    display: flex; justify-content: space-between; align-items: center; width: 100%;

                    &.--btns { justify-content: center; gap: 10px; flex-wrap: wrap;}
                }

                .radio-bar {
                    position: absolute; inset: 50% 0 0 0; height: 1px; background: $border-color;
                    transform: translateY(-50%);
                }

                input[type='radio'] { display: none;}

                .ghost-radio {
                    width: 26px; height: 26px; display: flex; align-items: center; justify-content: center;
                    color: $red; background-color: $white; border: 2px solid $border-color; border-radius: 100%;
                    transition: .2s all; cursor: pointer;

                    &.active, &:hover {
                        width: 34px; height: 34px; color: $white; background-color: $red; border-color: $red;
                        transition: .2s all;
                    }

                    &.--btn {
                        padding: 9px 50px; font-size: 18px; letter-spacing: -0.02em; color: $red; line-height: 1.5em;
                        border-radius: 8px; border: 2px solid $red; font-weight: 700; display: block; width: auto;
                        height: auto; background-color: transparent;

                        &:hover, &.active {
                            background-color: $red; color: $white; transition: .2s all;
                        }
                    }
                }
            }


            .inquiry-checkbox { margin-top: 12px;

                fieldset {
                    display: flex; flex-wrap: wrap; justify-content: center; align-items: center; width: 100%;
                    gap: 10px;
                }

                input[type="checkbox"] { display: none;}

                .ghost-checkbox {
                    padding: 9px 50px; font-size: 18px; letter-spacing: -0.02em; color: $red; line-height: 1.5em;
                    border-radius: 8px; border: 2px solid $red; font-weight: 700; display: block; cursor: pointer;
                    transition: .2s all;

                    &:hover, &.active {
                        background-color: $red; color: $white; transition: .2s all;
                    }

                    &.active:hover { background-color: transparent; color: $red; transition: .2s all;}
                }
            }

            .inquiry-btns {
                display: flex; justify-content: center; margin-top: 20px; flex-wrap: wrap; gap: 16px;
            }

            .inquiry-btn {
                padding: 9px 50px; font-size: 18px; letter-spacing: -.02em; color: $red; line-height: 1.5em;
                border-radius: 8px; border: 2px solid $red; font-weight: 700;

                &:hover { background-color: $red; color: $white;}

                &.--circle {

                }
            }
        }

        .inquiry-submit {
            margin-top: 50px; text-align: center; flex: 0 0 100%;

            .btn { min-width: 180px;
                & + .btn { margin-left: 27px;}
                &:hover { background-color: $red; color: $white;}
            }
        }
    }


    @media (max-width: 1600px) { padding-bottom: 160px;}
    @media (max-width: 1400px) { padding-bottom: 120px;}
    @media (max-width: 992px) { padding-bottom: 80px;}

    @media (max-width: 768px) {
        .inquiry-wrap .inquiry-item .inquiry-range { flex-wrap: wrap; justify-content: space-between;
            input { order: 1; flex: 0 0 calc(50% - 5px);
                &:last-child { order: 2;}
            }

            .range-bar {
                order: 0; flex: 0 0 calc(100% - 36px); left: 0; margin-bottom: 20px;
            }
        }

        &.--pricing {
            .inquiry-item.--form-inputs { flex-direction: column;}
        }
    }

    @media (max-width: 576px) {
        .progress { flex-direction: column; align-items: center;
            &::before { content: none;}
            &-item {
                & + .progress-item { margin-top: 20px;}
            }
        }
    }

    @media (max-width: 500px) {
        .inquiry-wrap .inquiry-item {
            .label { text-align: center; font-size: 20px;}
            .inquiry-range { flex-direction: column;
                .range-bar { width: 85%;}
                input { margin-top: 10px;}
            }
        }
    }
}