.partners-block {
    padding-top: 160px; padding-bottom: 100px; background-color: $white;

    &-nd { padding-top: 100px; padding-bottom: 180px;}

    .title { text-align: center;}

    .text {
        max-width: 40%; margin: 0 auto; font-size: 24px; text-align: center; letter-spacing: -.02em;
    }

    .partners-wrap {
        display: flex; justify-content: center; align-items: center; gap: 80px; margin-top: 40px;
    }


    @media (max-width: 1600px) {
        .text { max-width: 70%;}
    }

    @media (max-width: 1400px) {
        .text { font-size: 20px;}
    }

    @media (max-width: 1400px) {
        padding-top: 80px; padding-bottom: 60px;
    }

    @media (max-width: 1200px) {
        .partners-wrap { gap: 20px;}
    }

    @media (max-width: 992px) {
        .partners-wrap { flex-wrap: wrap;}
        .text { font-size: 18px;}
    }

    @media (max-width: 768px) {
        .partners-wrap { gap: 0;
            .partners { flex: 0 0 50%;
                img { margin: 0 auto;}
            }
        }
    }

    @media (max-width: 576px) {
        .text { max-width: 100%;}
    }
}