.partners-block {
    padding-top: 160px; padding-bottom: 100px; background-color: $white;

    &-nd { padding-top: 100px; padding-bottom: 180px;}

    .title { text-align: center;}

    .text {
        max-width: 40%; margin: 0 auto; font-size: 24px; text-align: center; letter-spacing: -.02em;
    }

    .partners-wrap {
        display: flex; justify-content: center; align-items: center; gap: 80px; margin-top: 40px;
    }
}