.product {
    &-list { padding-top: 130px; padding-bottom: 90px;

        .product-order {
            display: flex; justify-content: flex-end; padding-bottom: 20px; font-size: 18px;

            select { font-weight: 700; margin-left: 12px;}
        }

        .filter-col { height: 100%;
            &::before {
                content: ""; position: absolute; inset: 0 0 0 -10vw; background-color: $white; border-radius: 8px;
            }
        }

        .filter-wrap {
            padding: 55px 50px 55px 0; display: flex; flex-wrap: wrap;

            .filter-item { flex: 0 0 100%;
                &.half {
                    flex: 0 0 50%; display: flex; align-items: center; margin-top: 24px;
                }

                &.checkbox {
                    label { margin-left: 6px; font-size: 18px; letter-spacing: -.03em;}
                }

                & + .filter-item { margin-top: 12px;}

                label { display: flex; flex-direction: column;
                    .label { font-size: 18px; letter-spacing: -.02em; line-height: 1.5em;}
                }

                select, input {
                    padding: 12px; background-color: #F4F4F4; border-radius: 8px; width: 100%;
                }

                input[type="checkbox"] { width: 20px; height: 20px;}

                .range-wrap { display: flex; width: 100%;
                    input { flex: 0 0 calc(50% - 5px); width: 100%;
                        & + input { margin-left: 10px;}
                    }
                }
            }

            .filter-submit { flex: 0 0 100%; text-align: center; margin-top: 36px;
                input {
                    width: 100%; border: 2px solid $red; color: $red; border-radius: 60px; font-size: 18px;
                    font-weight: 700; background-color: transparent; padding: 18px 36px;

                    &:hover { background-color: $red; color: $white;}
                }
            }

            .filter-clear {
                text-align: center; margin-top: 24px; width: 100%;

                .btn-text {
                    font-size: 18px; font-weight: 700; text-decoration: underline; color: $red;

                    &:hover { text-decoration: none;}
                }
            }
        }

        .products-wrapper {
            padding-top: 30px; border-top: 2px solid #CACACA;

            .product-item {
                margin-bottom: 20px; background-color: $white; display: flex; border-radius: 8px; overflow: hidden;

                .product-image {
                    background-size: cover; background-position: center; background-repeat: no-repeat;
                    flex: 0 0 calc(100% / 3);
                }

                .product-content { padding: 30px 40px;
                    .product-head {
                        display: flex; justify-content: space-between; margin-bottom: 24px;

                        .title-col {
                            .title { font-size: 34px; font-weight: 700; line-height: 1.04em;}
                            .subtitle { font-size: 22px; font-weight: 700;}
                        }

                        .price-col { text-align: right;
                            .price { font-size: 34px; line-height: 1.04em;}
                            .note { font-size: 16px; color: #6E6E6E; letter-spacing: -.03em;}
                        }
                    }

                    .product-body {
                        .text {
                            font-size: 18px; letter-spacing: -.02em; line-height: 1.5em; color: #616161;
                        }

                        .tags {
                            margin-top: 24px; display: flex; flex-wrap: wrap;

                            .tag {
                                background: #EDEDED; display: flex; padding: 10px 14px; align-items: center;
                                margin-bottom: 18px;

                                &:not(:last-child) { margin-right: 18px;}

                                .icon { margin-right: 8px;}
                                .text {
                                    font-size: 16px; font-weight: 700; letter-spacing: -.03em; line-height: 1em;

                                    .color {
                                        width: 15px; height: 15px; display: block; background: blue;
                                        border-radius: 100%;

                                        &.--blue { background-color: #3564D9;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .pagination-row { display: flex; margin-top: 30px;
            .btn-wrap { margin-left: 20%;}

            .pagination { display: flex; align-items: center;

                .prev, .next {
                    width: 32px; height: 32px; border-radius: 100%; background-color: #272727; display: flex;
                    justify-content: center; align-items: center;
                }

                .next svg { transform: rotate(180deg);}

                .dots { margin: 0 12px; display: flex;

                    .dot {
                        display: flex; width: 26px; height: 26px; align-items: center; justify-content: center;
                        border-radius: 100%; font-size: 18px; font-weight: 700; letter-spacing: -.03em;
                        line-height: 1em;

                        &.active { background-color: $red; color: $white;}
                    }

                    .interim {
                        font-size: 18px; font-weight: 700; letter-spacing: -.03em; width: 26px; height: 26px;
                        text-align: center;
                    }
                }
            }
        }
    }

    &-detail { padding-top: 110px;

        .mobile { display: none;}

        .product-photo {
            .thumb { margin-bottom: 18px; border-radius: 8px; overflow: hidden;}
            .gallery { display: flex; gap: 10px;
                .remaining {
                    position: absolute; top: 50%; left: 50%; z-index: 1; transform: translate(-50%, -50%);
                    display: flex; align-items: center; justify-content: center; width: 58px; height: 58px;
                    background-color: rgba(39, 39, 39, .8); color: $white; font-size: 18px; font-weight: 700;
                    letter-spacing: -.03em; border-radius: 100%;
                }
            }

            .separ {
                margin-top: 54px; margin-bottom: 38px; border: 2px solid #D3D3D3;
            }

            .equipment-label {
                font-size: 30px; font-weight: 700; letter-spacing: -.02em; line-height: 1.5em; margin-bottom: 16px;
            }

            .equipment-wrap {
                column-count: 3; gap: 10px; margin-bottom: 32px;
            }

            .equipment-item {
                border-radius: 8px; background-color: #D5D5D5; padding: 20px; break-inside: avoid;
                margin-bottom: 10px;

                &.full { width: 100%;}

                .label {
                    font-size: 18px; font-weight: 700; letter-spacing: -.02em; line-height: 1em; margin-bottom: 12px;
                }

                .text {
                    font-size: 20px; line-height: 1.2em; letter-spacing: -.02em; color: #626262; margin-bottom: 10px;
                }
            }
        }

        .product-info { background-color: $white; border-radius: 8px; overflow: hidden;
            &-col { padding: 0 55px;}

            .title-wrap { padding-top: 60px; padding-bottom: 25px;
                .title {
                    font-size: 64px; font-weight: 700; line-height: 1.04em; margin-bottom: 0;
                }

                .subtitle {
                    font-size: 30px; letter-spacing: -.02em; font-weight: 700; line-height: 1.5em;
                }
            }

            .price-wrap {
                background-color: #F6F6F6; display: flex; align-items: center; padding-top: 20px; padding-bottom: 18px;

                .price-col {
                    .price { font-size: 44px; color: $red; line-height: 1.04em;}
                    .note {
                        font-size: 18px; letter-spacing: -.03em; color: #6E6E6E; display: flex; align-items: center;

                        .icon { margin-right: 6px;}
                    }
                }

                .btn-col { flex: 0 0 50%; margin-left: auto;
                    .btn { width: 100%;}
                }
            }

            .info-wrap {
                padding-top: 35px; display: flex; flex-wrap: wrap;

                .info-col { flex: 0 0 50%; margin-bottom: 42px;
                    &:nth-child(2n) { padding-left: 42px; border-left: 2px solid #EAEAEA;}

                    .label--lg {
                        font-size: 30px; letter-spacing: -.02em; font-weight: 700;
                    }

                    .label {
                        font-size: 18px; font-weight: 700; letter-spacing: -.02em; color: #A4A4A4;
                    }

                    .info { margin-top: 20px;

                        .text {
                            font-size: 22px; letter-spacing: -.02em; line-height: 1.5em; display: flex;
                            align-items: center;

                            .color {
                                width: 22px; height: 22px; display: block; border-radius: 100%; margin-right: 6px;

                                &.blue { background-color: #3564D9;}
                            }
                        }
                    }
                }
            }

            .btn-wrap { display: flex; margin-bottom: 65px;
                .btn-col { flex: 0 0 50%; text-align: center;}
            }

            .red-wrap {
                margin: 0 10px; background: linear-gradient(84.6deg, #C41717 0.4%, #272727 99.61%); color: white;
                display: flex; padding: 30px 46px; border-radius: 8px;

                .red-col { flex: 0 0 50%;
                    .label--lg {
                        font-size: 30px; font-weight: 700; letter-spacing: -.02em; margin-bottom: 8px;
                    }

                    .price {
                        font-size: 24px; letter-spacing: -.02em; line-height: 1.5em;
                    }

                    .text-sm { font-size: 18px; opacity: .5; letter-spacing: -.02em;}

                }
            }

            .note-wrap { margin-top: 50px; padding-bottom: 68px;
                .label {
                    font-size: 30px; font-weight: 700; letter-spacing: -.02em; line-height: 1.5em;
                }

                .text {
                    font-size: 20px; line-height: 1.5em; letter-spacing: -.02em;
                }
            }
        }
    }

    &-cta {
        padding: 70px 74px; color: $white; display: flex; justify-content: space-between; align-items: center;
        overflow: hidden; border-radius: 8px;

        .full-bck {
            &::before {
                content: ""; position: absolute; inset: 0;
                background: linear-gradient(90deg, #C41717 16.88%, rgba(196, 23, 23, 0) 80.47%);
            }
        }

        .text-col { flex: 0 0 55%;
            .title { margin-bottom: 20px; font-size: 38px; font-weight: 700;}
        }

        .btn-col { margin-left: auto;}
    }



    @media (max-width: 1800px) {
        &-detail {
            .product-photo {
                .separ { margin-top: 32px; margin-bottom: 30px;}
                .equipment {
                    &-label { font-size: 24px;}
                    &-item { padding: 16px;
                        .text { font-size: 18px; margin-bottom: 6px;}
                    }
                }
            }
            .product-info {
                &-col { padding: 0 32px;}
                .title-wrap { padding: 40px 32px 24px;
                    .title { font-size: 52px;}
                    .subtitle { font-size: 24px;}
                }
                .price-wrap .price-col {
                    .price { font-size: 36px;}
                    .note { font-size: 16px;}
                }
                .info-wrap { padding-top: 28px;
                    .info-col { margin-bottom: 32px;
                        .label--lg { font-size: 24px;}
                        .info { margin-top: 12px;
                            .label { font-size: 16px;}
                            .text { font-size: 20px;}
                        }
                    }
                }
                .red-wrap .red-col {
                    .label--lg { font-size: 24px;}
                    .price { font-size: 20px;}
                    .text-sm { font-size: 14px;}
                    .text { font-size: 16px; line-height: 1.4em;}
                }
                .note-wrap { margin-top: 32px; margin-bottom: 48px;
                    .label { font-size: 24px;}
                    .text { font-size: 18px;}
                }
            }
        }

    }

    @media (max-width: 1600px) {
         &-list {
             .products-wrapper .product-item .product-content { padding: 24px 30px;
                 .product-head {
                     .title-col {
                         .title { font-size: 30px;}
                         .subtitle { font-size: 18px;}
                     }
                     .price-col .price { font-size: 30px;}
                 }
                 .product-body {
                     .text { font-size: 16px;}
                     .tags .tag { margin-bottom: 12px; padding: 6px 12px;
                         &:not(:last-child) { margin-right: 12px;}
                         .icon svg { max-width: 16px; height: auto;}
                     }
                 }
             }
         }
    }

    @media (max-width: 1400px) {
        &-list .filter-wrap { padding: 55px 30px 55px 0;
            .filter-item {
                &.half { flex: 0 0 100%;}
                &.checkbox label { font-size: 16px;}
            }
            .filter-submit input { font-size: 16px; padding: 12px 20px;}
            .filter-clear .btn-text { font-size: 16px;}
        }

        &-detail {
            .product-info {
                .title-wrap {
                    .title { font-size: 36px;}
                    .subtitle { font-size: 20px;}
                }
                .price-wrap .price-col .price { font-size: 30px;}
                .info-wrap .info-col {
                    &:nth-child(2n) { padding-left: 28px;}
                    .label--lg { font-size: 20px;}
                    .info .text { font-size: 18px;}
                }
                .btn-wrap { margin-bottom: 40px; flex-direction: column;
                    .btn-col + .btn-col { margin-top: 20px;}
                }
                .red-wrap { flex-direction: column;
                    .red-col {
                        & + .red-col { margin-top: 30px;}
                    }
                }
                .note-wrap .text { font-size: 16px;}
            }
        }
    }

    @media (max-width: 1200px) {
        &-list {
            .products-wrapper { display: flex; flex-wrap: wrap; gap: 10px;
                .product-item {
                    flex: 0 0 calc(50% - 5px); margin-bottom: 0; flex-direction: column;

                    .product-image { min-height: 280px;}
                    .product-content .product-head { flex-direction: column;
                        .price-col { text-align: left; margin-top: 10px;}
                    }
                }
            }
            .pagination-row { width: 100%; margin-top: 20px; margin-bottom: 20px;}
            .bottom-row { display: flex; flex-direction: column-reverse;}
        }

        &-cta {
            flex-direction: column; align-items: center; padding: 50px 54px;

            .full-bck::before { right: -50%;}
            .text-col { flex: 0 0 auto; text-align: center;}
            .btn-col { margin-left: 0; margin-top: 40px;}
        }

        &-detail {
            .product-info {
                .price-wrap { flex-direction: column; align-items: flex-start;
                    .btn-col { margin-left: 0; margin-top: 20px;}
                }
                .info-wrap { padding-right: 12px;}
            }
            .product-photo .equipment-wrap { column-count: 2;}
        }
    }

    @media (max-width: 992px) {
        &-list .filter-wrap { display: none;}
        &-detail { padding-top: 80px;
            .mobile { display: block;}
            .desktop { display: none;}

            .product-info { margin-bottom: 20px;
                .price-wrap {
                    flex-direction: row; justify-content: space-between; align-items: center;

                    .btn-col { margin-top: 0;}
                }
                .btn-wrap { flex-direction: row;
                    .btn-col + .btn-col { margin-top: 0;}
                }
                .note-wrap { margin-bottom: 0;}
            }
        }
    }

    @media (max-width: 768px) {
        &-list {
            .products-wrapper .product-item { flex: 0 0 100%;
                .product-image { min-height: 380px;}
            }
            .pagination-row .btn-wrap { margin-left: auto;}
        }
    }

    @media (max-width: 680px) {
        &-detail {
            .product-info .btn-wrap { flex-direction: column;
                .btn-col + .btn-col { margin-top: 20px;}
            }
        }
    }

    @media (max-width: 576px) {
        &-list {
            .products-wrapper .product-item .product-image { min-height: 320px;}
            .pagination-row { flex-direction: column; align-items: center;
                .btn-wrap { margin-left: 0; margin-top: 30px;}
            }
        }
        &-cta { margin-top: 40px;
            .text-col .title { font-size: 32px;}
        }

        &-detail {
            .product-info {
                .price-wrap { flex-direction: column; align-items: flex-start;
                    .btn-col { margin-top: 20px;}
                }
                .info-wrap .info-col {
                    flex: 0 0 100%; display: flex; flex-wrap: wrap; border-bottom: 2px solid #EAEAEA;
                    padding-bottom: 20px;

                    &:nth-child(2n) { border-left: none; padding-left: 0;}

                    .label--lg { flex: 0 0 100%;}
                    .info { flex: 0 0 50%;}
                }
            }
        }
    }

    @media (max-width: 480px) {
        &-list .products-wrapper .product-item .product-image { min-height: 280px;}
        &-cta { padding: 40px 36px;}
        &-detail {
            .product-info .info-wrap .info-col .info { flex: 0 0 100%;}
        }
    }

    @media (max-width: 420px) {
        &-detail {
            .product-photo .equipment-wrap { column-count: 1;}
        }
    }
}