.product-carousel-block {
    padding-top: 10svh; padding-bottom: 12svh; overflow: hidden;

    &.--product-detail { padding-top: 55px; padding-bottom: 20px;
        .title { font-size: 37px; text-transform: uppercase; margin-bottom: 20px;}
        .separ { border-top: 2px solid #D3D3D3; margin-bottom: 45px;}
    }

    .title {
        text-transform: uppercase; color: #C9C9C9; line-height: 1.08em;

        //.text-outline {
        //    color: transparent; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: $red; opacity: .2;
        //}
    }

    .product-slide {
        display: flex; border-radius: 8px; overflow: hidden;

        .image {
            flex: 0 0 60%; background-size: cover; background-position: center;
        }

        .text-content {
            flex: 0 0 40%; padding: 68px; background-color: $dark-bck; color: $white;

            .name {
                font-size: 44px; color: $white; font-weight: 700; line-height: 1.04em;
            }

            .price {
                font-size: 44px; font-weight: 400; line-height: 1.04em;
            }

            .dph-note {
                color: #6E6E6E; font-size: 18px; font-weight: 400; letter-spacing: -.03em;
            }

            .subtitle {
                margin-top: 35px; font-size: 24px; font-weight: 700; line-height: 1.04em;
            }

            .text {
                font-size: 20px; line-height: 1.5em; letter-spacing: -.02em; color: #9F9F9F;
            }

            .tags {
                display: flex; flex-wrap: wrap; margin-top: 40px;

                .tag {
                    background-color: #363636; font-size: 18px; font-weight: 700; display: flex; align-items: center;
                    padding: 10px; border-radius: 8px; margin-bottom: 18px;

                    &:not(:last-child) { margin-right: 18px;}

                    .icon { margin-right: 8px;}
                    .text { font-size: 18px;
                        .color { width: 17px; height: 17px; display: block; border-radius: 100%;
                            &.--blue { background-color: #3564D9;}
                        }
                    }
                }
            }

            .btn-wrap { text-align: right;
                .btn {}
            }
        }
    }

    .product-pagination {
        display: flex; align-items: center; margin-top: 25px;

        .swiper-pagination-bullet {
            width: 10px; height: 10px; background-color: #C2C2C2;

            &:not(:first-child) { margin-left: 34px;}

            &-active { width: 15px; height: 15px; background-color: #353535;}
        }
    }

    .btn-row { margin-top: 10px;}
}