.reviews-block { padding-top: 80px; padding-bottom: 80px; overflow: hidden;

    .review-carousel { margin-bottom: 60px;}

    .review-item { height: auto;
        .review-wrap {
            background-color: #272727; border-radius: 8px; padding: 50px 45px; display: flex; flex-direction: column;
            height: 100%;

            .name { color: $white; font-size: 32px; font-weight: 700; margin-top: 15px;}

            .stars { display: flex;
                .star + .star { margin-left: 4px;}
            }

            .text {
                color: #9D9D9D; font-size: 20px; font-weight: 400; letter-spacing: -.02em; margin-top: 20px;
                margin-bottom: 20px;
            }

            .text-link {
                color: #929292; font-size: 20px; font-weight: 700; text-decoration: underline; margin-top: auto;
            }
        }
    }

    .separ {
        width: 100%; border-top: 2px solid #CACACA; margin-bottom: 36px;
    }

    .text-wrap {
        font-size: 20px; letter-spacing: -.03em; color: $dark-bck; display: flex;

        .lg-text { text-transform: uppercase; margin-right: 48px; font-weight: 700;}
    }


    @media (max-width: 1600px) {
        .review-item .review-wrap {
            .name { font-size: 28px;}
            .text { font-size: 18px}
        }
    }

    @media (max-width: 992px) {
        .text-wrap { font-size: 18px;}
    }

    @media (max-width: 768px) {
        .review-item .review-wrap { padding: 40px 32px;
            .name { font-size: 24px;}
            .text { font-size: 16px;}
            .text-link { font-size: 18px;}
        }
    }

    @media (max-width: 680px) {
        .text-wrap { flex-direction: column;}
    }
}