.steps-block { padding-top: 140px; padding-bottom: 130px;

    .steps-wrap {
        .steps-row {
            display: flex; flex-wrap: wrap; margin-top: 80px;

            &::before {
                content: ""; position: absolute; top: 22px; height: 2px; background-color: #C2C2C2; left: 0; right: 0;
            }

            &.--nd::before { right: 25%;}

            .step-item { flex: 0 0 25%; padding-right: 50px;

                .num {
                    display: flex; justify-content: center; align-items: center; width: 44px; height: 44px;
                    background-color: $red; color: $white; font-size: 22px; font-weight: 700; letter-spacing: -.02em;
                    border-radius: 100%; margin-bottom: 32px;
                }

                .text {
                    font-size: 24px; line-height: 1.5em; letter-spacing: -.02em;
                }
            }
        }
    }


    @media (max-width: 1400px) {
        .steps-wrap .steps-row {
            &.--nd::before { right: 33%;}
            .step-item { flex: 0 0 calc(100% / 3);
                &.--empty { display: none;}
            }
        }
    }

    @media (max-width: 1200px) {
        .steps-wrap .steps-row .step-item .text { font-size: 20px;}
    }

    @media (max-width: 992px) { padding-top: 80px; padding-bottom: 80px;
        .steps-wrap .steps-row {
            &.--st { margin-top: 40px;}
            .step-item { padding-right: 30px;}
        }
    }

    @media (max-width: 768px) {
        .steps-wrap .steps-row { margin-top: 20px;
            &::before { content: none;}
            .step-item { flex: 0 0 100%;
                &::before {
                    content: ""; position: absolute; top: 22px; left: 0; right: 0; height: 2px;
                    background-color: #C2C2C2;
                }

                & + .step-item { margin-top: 40px;}
                .num { margin-bottom: 12px;}
                .text { font-size: 18px;}
            }
        }
    }



}