.text-block {
    padding-top: 170px; padding-bottom: 75px;

    .text-wrap {
        height: 100%; display: flex; flex-direction: column;

        .icon-link-wrap { margin-top: auto;}
    }

    .text { font-size: 24px; letter-spacing: -.02em; line-height: 1.5em;
        & + .text { margin-top: 32px;}
        &.--strong { font-weight: 700;}
    }


    .icon-link {
        background-color: $red; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;
    }

}


.text-block-nd {
    padding-top: 75px; padding-bottom: 75px;

    .text-wrap {
        padding-left: 100px; border-left: 2px solid #B1B1B1; font-size: 24px; letter-spacing: -.02em;
        line-height: 1.5em;

        .label {
            color: red; font-size: 20px; line-height: 1.5em; letter-spacing: -.03em; font-weight: 700;
            margin-bottom: 30px;
        }

        .text + .text { margin-top: 36px;}
    }

    .img-wrap {
        overflow: hidden; display: flex; flex-direction: column;

        .circle {
            width: 100%; height: 100%;border-radius: 100%; background: rgba(0,0,0,.04); position: absolute;
        }

        .car { transform: translateX(-50%);}

    }



    
}