.text-block {
    padding-top: 170px; padding-bottom: 75px;

    .text-wrap {
        height: 100%; display: flex; flex-direction: column;

        .icon-link-wrap { margin-top: auto;}
    }

    .text { font-size: 24px; letter-spacing: -.02em; line-height: 1.5em;
        & + .text { margin-top: 32px;}
        &.--strong { font-weight: 700; margin-bottom: 30px;}
    }

    .icon-link {
        background-color: $red; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;
    }

    .image-wrap {
        height: 100%; border-radius: 8px; overflow: hidden;

        img { width: 100%; height: 100%; object-fit: cover;}
    }

    @media (max-width: 1400px) { padding-top: 80px;
        .text-wrap { padding-left: 40px;}
    }

    @media (max-width: 1200px) {
        .text-wrap .text { font-size: 20px;}
    }

    @media (max-width: 992px) {
        .text-wrap { padding-left: 0; margin-top: 60px;
            .icon-link-wrap { margin-top: 0;}
        }
    }

    @media (max-width: 576px) {
        .text-wrap .text { font-size: 18px;}
    }
}


.text-block-nd {
    padding-top: 75px; padding-bottom: 75px;

    .text-wrap {
        padding-left: 100px; border-left: 2px solid #B1B1B1; font-size: 24px; letter-spacing: -.02em;
        line-height: 1.5em;

        .label {
            color: red; font-size: 20px; line-height: 1.5em; letter-spacing: -.03em; font-weight: 700;
            margin-bottom: 30px;
        }

        .text + .text { margin-top: 36px;}
    }

    .img-wrap {
        overflow: hidden; display: flex; flex-direction: column;

        .circle {
            width: 34vw; height: 34vw; border-radius: 100%; background: rgba(0,0,0,.04); position: absolute;
        }

        .car { transform: translateX(-50%);
            svg { height: auto;}
        }
    }

    @media (max-width: 1600px) {
        .text-wrap { padding-left: 40px;}
        .img-wrap {
            height: 100%; justify-content: center;
        }
    }

    @media (max-width: 1400px) {
        .text-wrap { font-size: 20px;}
        .img-wrap { align-items: flex-end; margin-left: 100px;}
    }

    @media (max-width: 1200px) {
        .text-wrap { font-size: 20px;}
        .img-wrap { align-items: flex-start; margin-left: 40px;}
    }

    @media (max-width: 992px) { padding-top: 20px; padding-bottom: 100px;
        .img-wrap { display: none;}
    }

    @media (max-width: 576px) {
        .text-wrap { font-size: 18px; padding-left: 24px;}
    }
}


.text-block-rd { padding-top: 175px; padding-bottom: 200px;
    .text-col {
        .title { max-width: 80%; line-height: 1.04em;}
        .subtitle {
            margin-top: 24px; text-transform: uppercase; font-weight: 700; font-size: 20px; line-height: 1.5em;
            letter-spacing: -.03em;
        }

        .citation-wrap { margin-top: 120px;
            .icon { position: absolute;
                &.--top { top: 0; left: 0;}
                &.--bottom { bottom: 0; right: 0;}
            }

            .citation-text {
                padding: 40px 80px; font-style: italic; font-size: 32px; letter-spacing: -.02em; line-height: 1.6em;
            }
        }
    }

    .full-bck { border-radius: 8px;}
}

.text-block-th { padding-top: 120px; padding-bottom: 180px; overflow: hidden;
    .big-letter { left: -5%; bottom: 0; right: unset; font-size: 42vw;}
    .text-wrap {
        padding-top: 76px; border-top: 2px solid rgba(255,255,255,.25); color: $white; padding-right: 60px;

        .text { font-size: 24px; letter-spacing: -.02em; line-height: 1.5em;}
        .magnifier-box { margin-top: 90px; display: flex; align-items: center;
            .icon { flex: 0 0 150px;}
            .magnifier-text {
                opacity: .65; font-size: 24px; line-height: 1.6em; letter-spacing: -.02em; font-style: italic;
                padding-left: 50px;
            }
        }
    }
}