.we-offer-block { padding-top: 220px; padding-bottom: 80px; overflow: hidden;

    .title-col {
        display: flex; flex-direction: column; height: 100%;

        .claim {
            color: $red; font-size: 20px; letter-spacing: -.03em; font-weight: 700; text-transform: uppercase;
        }

        .bottom { margin-top: auto;}
        .question { font-size: 32px; font-weight: 700; color: #2C2C2C; margin-bottom: 8px;}
    }

    .boxes-wrap {
        display: flex; flex-wrap: wrap; justify-content: space-between;

        .box {
            flex: 0 0 calc(50% - 20px); padding-right: 12%;

            &:not(:first-child), &:not(:nth-child(2)) { margin-top: 64px;}

            .name {
                margin-top: 14px; font-size: 32px; font-weight: 700; line-height: 1.04em;
            }

            .text {
                margin-top: 16px; font-size: 20px; font-weight: 400; letter-spacing: -.02em; line-height: 1.5em;
            }
        }
    }

    .we-offer-carousel { display: none;}


    @media (max-width: 1800px) { padding-top: 40px;
        .title--h2 { font-size: 84px;}
        .boxes-wrap { margin-left: 10%;
            .box { padding-right: 4%;}
        }
    }

    @media (max-width: 1200px) {
        .boxes-wrap .box { padding-right: 0;}
    }

    @media (max-width: 992px) { padding-top: 100px;
        .title--h2 { font-size: 64px;}
        .title-col { flex-direction: row; justify-content: space-between;
            .question { margin-bottom: 20px;}
        }
        .boxes-wrap { margin-left: 0;}
    }

    @media (max-width: 768px) {
        .title-col { flex-direction: column;
            .bottom { margin-top: 32px;}
        }
        .boxes-wrap { display: none;}
        .we-offer-carousel { display: block;}
    }

    @media (max-width: 576px) {
        .title--h2 { font-size: 52px;}
    }

}