* {
    font-family: "DM Sans", sans-serif; position: relative;
}

.page-wrap {
    //background-color: #F2F2F2;
    background-color: $light-bck;
}

.content-block {

}

.container { max-width: calc(100% - 180px);}

p {
    color: $dark-bck; font-size: 20px;
}



