.btn {
    background-color: $red; padding: 15px 34px; color: $white; font-weight: 700; border-radius: 47px;

    &:hover, &:focus {
        background-color: $white; color: $red;
    }

    &--outline {
        background-color: transparent; border: 1px solid $red; color: $red;

        &:hover { background-color: $white;}

        &--white {
            border-color: $white; color: $white;

            &:hover { color: $red;}
        }
    }

    &--circle {
        background: transparent; border: 1px solid $red; color: $red; width: 12vw; height: 12vw; border-radius: 100%;
        display: flex; align-items: flex-start; justify-content: center; flex-direction: column; padding: 40px;
        text-align: left;

        &--sm { width: 150px; height: 150px; align-items: center;}

        .text { font-size: 20px;
            &.--sm { font-weight: 400;}
        }
    }
}