footer {
    background-color: #191919; padding-top: 150px; padding-bottom: 100px;

    .top-row { display: flex;}

    .bottom-row {
        display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 140px;

        .copyright { flex: 1 0 auto; font-size: 20px; color: #535353;
            .text + .text { padding-left: 20px;
                &::before {
                    content: ""; position: absolute; width: 4px; height: 4px; background-color: #535353;
                    border-radius: 100%; top: 50%; left: 6px;
                }
            }
        }

        .social-links { display: flex;
            .social-link {
                &:hover svg path { fill: $white;}
                & + .social-link { margin-left: 16px;}
            }
        }

        .separ { flex: 0 0 100%; border-top: 2px solid #3A3A3A; margin-top: 50px;}
    }

    .marg-top { margin-top: 24px;}

    .footer-col { flex: 0 0 23%; margin-right: 2%;

        .label {
            text-transform: uppercase; font-size: 20px; font-weight: 700; letter-spacing: .2em; color: #414141;

            &.--white { text-transform: unset; color: #868686; letter-spacing: 0;}
        }

        .contact-item, .menu-item {
            color: #868686; font-size: 20px;
        }

        a:hover { text-decoration: underline;}

        .menu-items {
            margin-top: 10px; display: flex; flex-direction: column;
        }
    }

    @media (max-width: 1400px) {
        .top-row { flex-wrap: wrap;
            .footer-col { flex: 0 0 48%; margin-bottom: 40px;}
        }
    }

    @media (max-width: 992px) { padding-top: 80px; padding-bottom: 40px;
        .logo { display: flex; margin-bottom: 60px;}
        .bottom-row { margin-top: 40px;}
    }

    @media (max-width: 576px) {
        .footer-col {
            .label { font-size: 18px;}
            .menu-item, .contact-item { font-size: 16px;}
        }
        .bottom-row {
            .copyright { font-size: 16px;}
            .separ { margin-top: 30px;}
        }
    }

    @media (max-width: 500px) {
        .logo { margin-bottom: 30px;}
        .top-row .footer-col { flex: 0 0 100%; margin-right: 0;}
        .bottom-row { flex-direction: column;
            .copyright { order: 1;}
            .social-links { margin-bottom: 30px; order: 0;}
            .separ { order: 2;}
        }
    }
}