.form-wrap {
    .form-row { display: flex; flex-wrap: wrap; gap: 20px;
        &.submit { text-align: right;}
    }
}

.form-item { flex: 0 0 100%; margin-bottom: 26px;
    &.third { flex: 0 0 calc((100% / 3) - (20px * 2) / 3);}

    label {
        display: flex; flex-direction: column; font-size: 18px; letter-spacing: -.02em; line-height: 1.5em;

        .label { }
        input, textarea, select { background-color: #F4F4F4; padding: 6px 12px; border-radius: 8px; width: 100%;}
        textarea { min-height: 180px;}
        select { border: 2px solid $red;}
    }

    input[type="submit"] {
        color: $red; font-size: 20px; font-weight: 700; padding: 18px 80px; border-radius: 60px;
        border: 2px solid $red; min-width: 260px;

        &:hover {
            background-color: $red; color: $white;
        }
    }
}