nav {
    position: fixed; inset: 0; bottom: unset; z-index: 10;

    .nav-wrap {
        display: flex; justify-content: space-between; padding: 35px; transition: .25s all;

        &.sticky { background-color: #323232; transition: .25s all; padding: 16px 35px;
            .logo {
                &--dark { display: none;}
                &--light { display: block;}
            }
            .menu {
                .nav-link, .separ { color: $white;}
            }
        }

        &.light-nav {
            .logo {
                &--dark { display: none;}
                &--light { display: block;}
            }
            .menu {
                .nav-link, .separ { color: $white;}
            }
        }

        .logo {
            &--light { display: none;}
        }

        .menu { display: flex; align-items: center;
            .separ { color: $dark-bck; font-weight: 700; margin-left: 33px;}

            .nav-link { color: $dark-bck; font-weight: 700;
                &:hover { color: $red;}
                &:not(:first-child) { margin-left: 33px;}
            }
        }

        .lang-switcher { margin-left: 43px;
            .lang-link {
                display: block; border-radius: 4px; overflow: hidden;

                img { max-width: 36px;}
            }
        }
    }
}