.title {
    &--h2 { font-size: 104px; font-weight: 700;
        @media (max-width: 1200px) { font-size: 84px;}
        @media (max-width: 992px) { font-size: 64px;}
        @media (max-width: 576px) { font-size: 52px;}
    }

    &--h3 { font-size: 74px; font-weight: 700;
        @media (max-width: 1400px) { font-size: 62px;}
        @media (max-width: 1200px) { font-size: 58px;}
        @media (max-width: 992px) { font-size: 42px;}
        @media (max-width: 576px) { font-size: 32px;}
    }

    &--h4 { font-size: 44px; font-weight: 700;
        @media (max-width: 992px) { font-size: 36px;}
        @media (max-width: 576px) { font-size: 28px;}
    }

    &--sm {
        font-size: 26px; font-weight: 700; text-transform: uppercase; letter-spacing: -.03em; line-height: 1.5em;
        text-align: center;
    }


    &--white { color: $white;}

    &--gray { }

    .text-outline {
        //color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #fff;
        text-shadow: 0 0 2px #C41717A6, 0 0 2px #C41717A6, 1px 1px 2px #C41717A6, -1px 1px 2px #C41717A6, 1px -1px 2px #C41717A6, -1px -1px 2px #C41717A6;
        color: #e4e4e4;

        &.--red { -webkit-text-stroke-color: $red;}
    }
}