.title {
    &--h2 {
        font-size: 104px; font-weight: 700;
    }

    &--h3 {
        font-size: 74px; font-weight: 700;
    }

    &--h4 {
        font-size: 44px; font-weight: 700;
    }


    &--white { color: $white;}

    &--gray { }

    .text-outline {
        color: transparent; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #fff;

        &.--red { -webkit-text-stroke-color: $red;}
    }
}