services:
    php:
        image: php:8.1-fpm
        container_name: cms-php
        volumes:
            - .:/var/www/html
        working_dir: /var/www/html
        networks:
            - app-network

    nginx:
        image: nginx:alpine
        container_name: cms-nginx
        ports:
            - "8010:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
        networks:
            - app-network

    db:
        image: mariadb:10.11
        container_name: cms-db
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: cms
            MYSQL_USER: cms
            MYSQL_PASSWORD: cms
        volumes:
            - db_data:/var/lib/mysql
        ports:
            - "3306:3306"
        networks:
            - app-network

    adminer:
        image: adminer
        container_name: cms-adminer
        ports:
            - "8080:8080"
        environment:
            ADMINER_DEFAULT_SERVER: db
        depends_on:
            - db
        networks:
            - app-network

    node:
        image: node:20
        container_name: cms-node
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html
        command: ["tail", "-f", "/dev/null"]  # keep container running for npm tasks

    mailhog:
        image: mailhog/mailhog
        ports:
            - "8025:8025"   # Web UI: http://localhost:8025
            - "1025:1025"   # SMTP server
        restart: unless-stopped

networks:
    app-network:
        driver: bridge

volumes:
    db_data: