{block content}
<div class="error-page">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title--h2">Page not found</h1>
                <a href="/en" class="btn">Return to homepage</a>
            </div>
        </div>
    </div>
</div>