@import "../../node_modules/bootstrap/scss/bootstrap";

@import "base/reset";
@import "base/variables";
@import "base/base";
@import "base/navigation";
@import "base/footer";
@import "base/buttons";
@import "base/common-classes";
@import "base/titles";
@import "base/form";

@import "blocks/header";
@import "blocks/why";
@import "blocks/rozcest";
@import "blocks/productCarousel";
@import "blocks/dovoz";
@import "blocks/bigBlock";
@import "blocks/socialFeed";
@import "blocks/reviews";
@import "blocks/weOffer";
@import "blocks/aboutUsheader";
@import "blocks/textBlock";
@import "blocks/team";
@import "blocks/partners";
@import "blocks/separ";
@import "blocks/cta";
@import "blocks/contact";
@import "blocks/contactForm";
@import "blocks/faq";
@import "blocks/packages";
@import "blocks/inspectHeader";