@import "../../node_modules/bootstrap/scss/bootstrap";

@import "base/reset";
@import "base/variables";
@import "base/base";
@import "base/navigation";
@import "base/footer";
@import "base/buttons";
@import "base/common-classes";
@import "base/titles";

@import "blocks/header";
@import "blocks/why";
@import "blocks/rozcest";
@import "blocks/productCarousel";