.big-letter {
    position: absolute; right: 0; bottom: 0; font-size: 65vw; font-weight: 700; line-height: 0.6em; color: transparent;
    -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #C41717; z-index: 1;
}