parameters:

    # -------------------------------------------------------
    # DEV (Docker)
    # -------------------------------------------------------
#    database:
#        host: cms-db
#        port: 3306
#        name: cms
#        user: cms
#        password: cms
#    mail:
#        host: mailhog
#        port: 1025
#        username: ''
#        password: ''
#        encryption: null
#    adminEmail: 'dev.foo.bar.web@gmail.com'
#    recaptcha:
#        verify: false

    # -------------------------------------------------------
    # TEST (pomelogrep.eu)
    # -------------------------------------------------------
    database:
        host: md418.wedos.net
        port: 3306
        name: d375189_123
        user: a375189_123
        password: Ratata1324#
    mail:
        host: wes1-smtp.wedos.net
        port: 587
        username: web@pomelogrep.eu
        password: Ratata1324#
        encryption: tls
    adminEmail: 'dev.foo.bar.web@gmail.com'
    recaptcha:
        verify: true

    # -------------------------------------------------------
    # PRODUCTION (automaton.cz)
    # -------------------------------------------------------
    #database:
    #    host: localhost
    #    port: 3306
    #    name: your_prod_db
    #    user: your_prod_user
    #    password: your_prod_password
    #mail:
    #    host: smtp.your-hosting.cz
    #    port: 587
    #    username: your@email.cz
    #    password: your_smtp_password
    #    encryption: tls
    #adminEmail: 'poptavky@automaton.cz'
    #recaptcha:
    #    verify: true
