services:
    - App\Core\RouterFactory::createRouter

    mail.mailer:
        class: Nette\Mail\SmtpMailer
        arguments:
            host: mailhog
            port: 1025
            username: ''
            password: ''
            encryption: null

    - App\Components\Forms\ContactFormFactory(@mail.mailer, %adminEmail%)

search:
    - in: %appDir%
      classes:
        - *Facade
        - *Factory
        - *Repository
        - *Service